$spacer-1: 4px;
$spacer-3: 16px;
$spacer-4: 24px;
$em-spacer-3: 0.25em !default;   // 1/4

$bg-white: $white;
$text-gray-dark: gray-900;
$lh-condensed-ultra: 1 !default;


@import "color-system.scss";
// @import "layout.scss";
@import "code.scss";
@import "images.scss";
@import "markdown-body.scss";
