<div class="container">

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu">
  <link rel="stylesheet" type="text/css" href="/statics/css/w-iframe-less.css?v=1">

  <script src="//cdnjs.cloudflare.com/ajax/libs/mailcheck/1.1.2/mailcheck.js"></script>
  <script src="/statics/js/mj-widget-iframe.js?v=1"></script>

  <form class="mj-form" action="https://app.mailjet.com/widget/iframe/3Kq7/aZT" name="form" method="post">
    <input type="hidden" id="csrf_token" name="csrf_token" value="NmNlMTlhMTA4ZmEzZTFmMWZhN2U0N2FmYTIyNjc0ZTNmMWFmNGU4NDE0NjU3YTk5YTI4YWFjM2QzYzBiOTNjMw==">

    <div class="input-group mb-3 row">

      <input class="w-preview-fields-content-cell-field-email form-control col-md-3" type="email" placeholder="Email Address" name="w-field-field-42277-200708-893427-email" required="required">

      <div class="input-group-append">
        <input class="mj-submit_button btn btn-outline-success" type="submit" value="Subscribe">
      </div>
    </div>

  </form>
</div>
