---
layout: default
---

{% assign section_name = page.id | split:"/" | shift | first %}
{% assign page_label = page.id | split:"/" | last %}
{% assign meta = site.data.meta[section_name][page_label] %}

<div class="container pt-4">
  <div class="row">

        {% include sidebar.html class="col-md-4" %}

        <div class="col-md-8 markdown-body">

            <h1>{{ page.title }}</h1>
    
            <blockquote>
            <!-- badges -->

            {% assign sep="" %}
            <!-- node name -->
            {% if page.node %}
              {{ sep }}
              {% assign sep="|" %}
              Node: <code class="language-plaintext">{{ page.badge }}</code>
            {% endif %}

            <!-- nodes using a module -->
            {% assign nodes = meta.nodes %}
            {% if nodes and nodes != empty %}
              {{ sep }}
              {% assign sep="|" %}
              Nodes: 
                {% for node_name in nodes %}
                    <a href="../hw/{{ node_name }}"><code class="language-plaintext">{{ node_name }}</code></a>
                {% endfor %}
            {% endif %}

            {% if meta.module %}
              {{ sep }}
              {% assign sep="|" %}
              Module: 
              <code>{{ meta.module }}</code>
            {% endif %}

            {% if meta.conf and meta.conf != empty %}
                {{ sep }}
                {% assign sep="|" %}
                Parameters: 
                {% for i in meta.conf %}
                  <code class="language-plaintext">{{ i }}</code>
                {% endfor %}
            {% endif %}

            <!-- badges end -->
            </blockquote>

            {% if page.toc %}
              <div class="panel panel-info">
                <blockquote>
                <div class="panel-heading">On this page:</div>
                <div class="panel-body">
                  {% include toc.html html=content sanitize=true class="inline_toc" id="my_toc" h_min=2 h_max=3 %}
                </div>
                </blockquote>
              </div>
            {% endif %}


            {{ content }}

            <!-- list used modules -->
            {% if page.modules and page.modules != empty %}
              <h2>Capabilities</h2>
              <ul>
              {% for i in page.modules %}
                {% assign mod_name = i | replace: ".", "_" %}
                {% assign mod = site.data.meta.fw[mod_name] %}
                <li>
                  <a href="../fw/{{ mod.label }}">{{ mod.title }}</a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}

            {% if meta.params and meta.params != empty %}
              {% assign params = meta.params %}
              <h2>Configuration parameters</h2>
              {% include params_tree.html %}
            {% endif %}

            {% if page.documents and page.documents != empty %}
              {% assign assets = page.documents %}
              <h2>Documents</h2>
              <ul>
              {% for asset in assets %}
                <li><a href="{{ asset }}">{{ asset | split:"/" | last }}</a></li>
              {% endfor %}
              </ul>
            {% endif %}
            
          </div>

  </div>
</div>
